name: CI/CD MLflow Model Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  IMAGE_NAME: "stroke-predictor"
  MODEL_NAME: "XGBoostStrokePredictor_CI"
  MLPROJECT_DIR: "MLProject"
  # Nama Eksperimen harus konsisten
  EXPERIMENT_NAME: "CI_XGBoost_Retraining"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
      MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      MLFLOW_REGISTRY_URI: ${{ secrets.MLFLOW_TRACKING_URI }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Debug Secrets
        run: |
          if [ -z "${MLFLOW_TRACKING_URI}" ]; then
            echo "❌ SECRET MASIH KOSONG! Cek konfigurasi Environment."
          else
            echo "✅ SECRET TERDETEKSI. Panjang: ${#MLFLOW_TRACKING_URI}"
          fi

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 python-dotenv pandas numpy scikit-learn xgboost imbalanced-learn matplotlib

      - name: Run mlflow project (Retraining)
        run: |
          cd ${{ env.MLPROJECT_DIR }}
          # PERBAIKAN: Set experiment name di sini agar MLflow Run dibuat di eksperimen yang benar dari awal
          mlflow run . --env-manager local --experiment-name ${{ env.EXPERIMENT_NAME }}

      - name: Build Docker Model Image
        run: |
          mlflow models build-docker --model-uri "models:/${{ env.MODEL_NAME }}/latest" \
                                     --name "cc"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag cc ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
